<%- include(__dirname + '/views/partials/header.ejs') %>

<!-- Header and Plus Button -->
<div class="container-fluid align-self-center text-center  mb-5" style="height: 20vh; background-color: #111157;">
    <div class="row h-100 align-self-center mb-5">
    <div class="col-4 " style="background-color: #111157;"></div>
    <div class="col-4 align-self-center  py-4 py-lg-0" style="font-size: 2rem; text-align: center; background-color: #111157">
        <h1 class="" style="color: #f64c72;">Crie Mais Posts!</h1>
        <a href="/create" class="btn rounded-3 border-2 border-white p-4 p-lg-2 " > 
           <svg  class="whiteFilter" enable-background="new 0 0 0 0" height="5vh" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="6vw" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="4" x1="9" x2="41" y1="25" y2="25" />
              <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="4" x1="25" x2="25" y1="9" y2="41" />
            </svg></a>
    </div>
    <div class="col-4" style="background-color: #111157;"></div>
</div>
</div>

<!-- Posts -->
<div class="container mt-5 " style="min-height: 40vh;" >
    <div class="row pt-5 pt-lg-0 mt-5 mt-lg-0 justify-content-center">
        <% if (locals.postList) {%>
        <% for (i=0;i<postList.length;i++) { %>
        <div class="col-11 col-lg-6 text-center rounded-3  " style="border-color: #f64c72;  border-radius: 10px; border: solid; background-color: #19197F;"  >
            <a href="/post/<%= i %>" class="py-3" style="font-size: 3.5rem; text-decoration: none; color:white ; word-break: break-all;">  <%= postList[i].titulo %> </a>
            <h3 class="py-3"  style="font-size: 2rem; color:white; word-break: break-all;"><%= postList[i].subtitulo %></h3>
            <p class="fw-medium" style="color: white;"><%= postList[i].data %></p>
    </div>
    <% }} %>
    </div>
</div>








<%- include(__dirname + '/views/partials/footer.ejs') %>